$green-000: #e5fff0;
$green-100: #98f0be;
$green-200: #52d88e;
$green-300: #27b36f;

$body-background-color: #0b1114;
$sidebar-color: #101a20;
$search-background-color: #16232b;
$table-background-color: #0f171c;
$code-background-color: #111b22;

$body-text-color: #deebf2;
$body-heading-color: #f4fbff;
$search-result-preview-color: #abc1ce;
$nav-child-link-color: #c3d8e4;
$link-color: #73e2a2;
$btn-primary-color: $green-300;
$base-button-color: #1c2a33;
